<nav class="navbar justify-center bg-neutral text-neutral-content gap-6 hover:shadow-2xl
 shadow-lg transition-shadow ease-in-out duration-500">
  <%= link_to "Invoices", invoices_path, class:"btn btn-ghost text-xl"%>
  <%= link_to "Expenses", expenses_path, class:"btn btn-ghost text-xl" %>
  <%= link_to "Profiles", profiles_path, class:"btn btn-ghost text-xl" %>
</nav>

